.am-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 10px;
    transition: transform 0.3s;
}

.am-card a{
    text-decoration: none;
}

.am-card:hover {
    transform: scale(1.02);
}
.am-cardimg {
    width: 100%;
    height: 0;
    padding-bottom: 42.5%; /* 2.35:1 アスペクト比 */
    position: relative;
}


.am-cardimg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 画像をカードの輪郭にフィットさせる */
}

.am-card-content {
    padding: 15px;
}

.am-card-content h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
    text-decoration: solid;
}

.am-card-content p {
    margin: 0;
    font-size: 0.8em;
    color: #666;
}

/* メディアクエリ */
@media (min-width: 428px) and (max-width: 1020px) {
    .am-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (min-width: 1021px) {
    .am-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (max-width: 427px) {
    .am-card-container {
        display: block; /* 横一列に1つ表示 */
    }
}
