
.am-card-container {
    display: flex;
    flex-wrap: nowrap; /* 改行せず横ならびにするために変更 */
    justify-content: space-around; 
    margin: 20px 0;
}

.am-card {
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
    margin: 15px; 
    overflow: hidden;
    width: calc(100% - 30px); 
    transition: transform 0.3s, box-shadow 0.3s; 
    display: flex;

}

.am-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}

.am-cardimg {
    flex: 0 0 40%; 
    position: relative; 
    width: 100%; 
    padding-top: 75%;
    overflow: hidden; 
}

.am-card-content {
    flex: 1; 
    padding: 10px; 
}

.am-cardimg img {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 100%; 
    height: auto; 
    transform: translate(-50%, -50%);
    object-fit: cover; 
}
.am-card h3 {
    font-size: 1.3em; 
    margin: 15px; 
    color: #333; 
}

.am-card p {
    font-size: 0.7em;
    margin: 0 15px 15px; 
    color: #666;
}

@media (max-width: 1020px) {
    .am-card {
        width: calc(50% - 30px);
        
        flex-direction: column; 
    }

    .am-cardimg {
        width: 100%; /* スマホビューでは幅を100%に設定 */
        padding-top: 75%; 
    }
}

@media (max-width: 428px) {
    .am-card-container{
        flex-wrap: wrap;
    }
    .am-card {
        width: calc(100% - 30px);
        flex-direction: column; 
    }

    .am-cardimg {
        width: 100%; /* スマホビューでは幅を100%に設定 */
        padding-top: 75%; 
    }
}

