.am-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
}
  
.am-card {
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
}
  
.am-cardimg {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}
  
.am-cardimg img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
  
.am-card-content {
    padding: 15px;
    background-color: #fff;
}
  
h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
}
  
p {
    margin: 0;
    color: #666;
}
  
@media (min-width: 429px) and (max-width: 1020px) {
    .am-card {
        width: calc(50% - 20px);
    }
}
  
@media (min-width: 1021px) {
    .am-card {
        width: 100%;
        flex-direction: row;
        height: 8em;
    }
  
    .am-cardimg {
        width: 40%;
        transform: translate(0, -50%);
    }
  
    .am-card-content {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
}